@font-face {
    src: url('./resources/f1.ttf');
    font-family: 'F1';
}

@font-face {
    src: url('./resources/f1bold.ttf');
    font-family: 'F1';
    font-weight: bold;
}

body {
    background-image: url('./resources/bg2.jpg');
    background-size: cover;
}

.right {
    position: absolute;
    background-size: cover;
    background: url('./resources/bgright.jpg') center;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

.left {
    display: block;
    position: absolute;
    background-size: cover;
    background: url('./resources/bgleft.jpg') right center;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

.left:before {
    background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,1) 80%);
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.right:before {
    background: linear-gradient(to left, rgba(0,0,0,0.2) 0%,rgba(0,0,0,1) 80%);
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    z-index: 1;
    top: 40px;
    color: white;
    font-family: 'F1';
}

.title {
    font-size: 86px;
}

.subtitle {
    font-size: 32px;
    font-style: italic;
}

#start-link {
    font-family: 'F1', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 32px;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid white;
    background-color: #000;
    z-index: 1;
    transition: border .1s ease-in-out, font-size .1s ease-in-out, color .1s ease-in-out;
}

#start-link:hover {
    font-size: 36px;
    color: #CCC;
    border: 8px solid #CCC;
}

#start-link:hover:disabled {
    font-size: 32px;
    border: 5px solid grey;
    color: white;
}

#start-link:disabled {
    background-color: grey;
    border-color: grey;
}
