@font-face {
    src: url('../font/digits.ttf');
    font-family: 'Digits';
  }
  
  @font-face {
    src: url('../font/f1.ttf');
    font-family: 'F1';
  }
  
body {
    background-image: url('../img/bg.png');
    background-size: cover;
}

.sponsor{
    background-image: url('../img/lady.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}

.quiz{
    background-color: #2b2b2b;
    background-size: scale;
    padding-bottom: 10px;
}
 
.grid {
    display: grid;
    grid-column-gap: 10px;
    font-family: 'F1';
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.question {
    margin: 5px 200px;
}
 

.buttons {
    margin-top: 20px;
}

.score {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#question, #difficulty{
    padding-top: 10px;
    margin: 5px 5px;
    font-size: 30px;
    color: #01BBFF;
}
 
#btna, #btnb, #btnc, #btnd {
    background-color: #01BBFF;
    font-family: 'F1';
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 2px solid #1D3C6A;
    margin: 5px 40px 10px 0px;
    padding: 20px 10px;
}
 
#btna:hover, #btnb:hover, #btnc:hover, #btnd:hover {
    cursor: pointer;
    background-color: rgb(0, 100, 136);
}
 
#btna:focus, #btnb:focus, #btnc:focus, #btnd:focus {
    outline: 10;
}
 
#score, #streak {
    color: #01BBFF;
    text-align: center;
    font-size: 25px;
    font-family: 'Digits';
    margin: 5px 50px 5px 0px;
}

#difficulty {
    font-size: 20px;
}

#textbubble {
    background-image: url('../img/fout.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 250px;
    margin-left: 750px;
}